
@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/_Master.cshtml";
}

<h2>Charts</h2>
<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
@section extra {
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
}
