@model Core.Results.FaceStartPageResult
<h1 class="large thin-font">@Model.Broadcaster</h1>
<div class="statistics-wrapper" onclick="gender.actions.AjaxWorker('/Statistics/Details?broadcaster=@Model.Broadcaster', gender.listners.StatisticsAnimation);">
    <div class="gender-icons-container">
        @for (var i = 0; i < Model.WomenPercentage; i++)
        {
            <i class="fa fa-female" aria-hidden="true"></i>
        }
        @for (var i = 0; i < Model.MenPercentage; i++)
        {
            <i class="fa fa-male" aria-hidden="true"></i>
        }
    </div>

    <div class="gender-statistics-wrapper">
        <div class="total-female">
            <i class="fa fa-female" aria-hidden="true"></i> <span data-action="counter" data-total="@Model.WomenPercentage">00</span>%
        </div>
        <div class="total-male">
            <i class="fa fa-male" aria-hidden="true"></i> <span data-action="counter" data-total="@Model.MenPercentage">00</span>%
        </div>
    </div>
</div>

